@page "/About"

    <section class="about-main mb-5">
        <div class="container-fluid">
            <h1 class="text-center about-title mb-5">Our Journey</h1>
            <div class="row">
                <div class="col-12">
                    <p class="about-pera mx-auto">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tempora
                        voluptates
                        nostrum,
                        rem ipsum saepe corrupti! Quos perspiciatis ipsum magni iste a optio illo libero, nostrum
                        inventore
                        quia, ducimus culpa totam. Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio enim
                        excepturi, laborum mollitia non incidunt ratione, impedit aspernatur rem ipsa temporibus.
                        Deserunt quas
                        qui eveniet praesentium tempora, aspernatur corrupti voluptatibus! <br><br> Lorem ipsum dolor
                        sit
                        amet consectetur adipisicing elit. Doloribus consequuntur blanditiis molestiae culpa dolore
                        ipsam adipisci nisi vero illo fugiat magnam officiis sunt, est voluptatum dolores assumenda
                        ducimus quos nihil! Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate
                        laboriosam, adipisci, repudiandae perspiciatis, optio eos eum nobis quia dolore magnam odit
                        ullam.</p>

                </div>
            </div>


        </div>
    </section>


    <section class="about-second">
        <div class="container">
            <h1 class="text-center about-title mb-5">Our Purpose</h1>
            <div class="row">
                <div class="col-12">
                    <p class="about-pera mx-auto">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tempora
                        voluptates
                        nostrum,
                        rem ipsum saepe corrupti! Quos perspiciatis ipsum magni iste a optio illo libero, nostrum
                        inventore
                        quia, ducimus culpa totam. Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio enim
                        excepturi, laborum mollitia non incidunt ratione, impedit aspernatur rem ipsa temporibus.
                        Deserunt quas
                        qui eveniet praesentium tempora, aspernatur corrupti voluptatibus!</p>
                </div>
            </div>
        </div>
    </section>


    <section class="about-third">
        <div class="container">
            <h1 class="text-center aboutsmall-title mb-4">We Offer You</h1>
            <div class="row mx-auto">
                <div class="col-lg-4 col-md-4">
                    <img src="/Images/pexels-norma-mortenson-4393668.jpg" class="img-fluid">
                </div>
                <div class="col-lg-4 col-md-4">
                    <img src="/Images/fresh.jpg" class="img-fluid">
                </div>
                <div class="col-lg-4 col-md-4">
                    <img src="/Images/pexels-pixabay-264636.jpg" class="img-fluid">
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <p class="offer-pera mx-auto mt-4">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tempora
                        voluptates
                        nostrum,
                        rem ipsum saepe corrupti! Quos perspiciatis ipsum magni iste a optio illo libero, nostrum
                        inventore
                        quia, ducimus culpa totam. Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio enim
                        excepturi, laborum mollitia non incidunt ratione, impedit aspernatur rem ipsa temporibus.
                        Deserunt quas
                        qui eveniet praesentium tempora, aspernatur corrupti voluptatibus! Lorem ipsum dolor sit amet
                        consectetur, adipisicing elit. Tempora
                        voluptates
                        nostrum,
                        rem ipsum saepe corrupti! Quos perspiciatis ipsum magni iste a optio illo libero, nostrum
                        inventore
                        quia, ducimus culpa totam. Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio enim
                        excepturi, laborum mollitia non incidunt ratione, impedit aspernatur rem ipsa temporibus.
                        Deserunt quas
                        qui eveniet praesentium tempora, aspernatur corrupti voluptatibus!</p>
                </div>
            </div>
        </div>


    </section>

@code {

}
