@page "/"

<article class="content px-4">
 <!-- Banner main section -->
    <section class="Banner-main">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <h1 class="text-center text-white mb-3">Product deliverd in 30 minutes</h1>
                    <form class="d-flex mx-auto">
                        <div class="input-group search-bar mx-auto" style="width: 70%;">
                            <input class="form-control srch-form border-0 mr-2" type="search"
                                placeholder="I'm searching for" aria-label="Search">
                            <button class="btn srch-btn border-0" type="submit"><i
                                    class="fas fa-search text-dark"></i></button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>

    <!-- Banner sub section -->
    <section class="Banner-sub mx-auto mt-3">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-4">
                    <a href="/Product">
                        <img src="/Images/Sub Banner.jpg" alt="banner" class="img-fluid">
                    </a>
                </div>
                <div class="col-lg-4 col-md-4">
                    <a href="/Product">
                        <img src="/Images/sub ban 4.jpg" alt="banner" class="img-fluid">
                    </a>
                </div>
                <div class="col-lg-4 col-md-4">
                    <a href="/Product">
                        <img src="/Images/sub banner 2.jpg" alt="banner" class="img-fluid">
                    </a>
                </div>
            </div>
        </div>
    </section>
    <!-- Banner sub section exit -->
    <!-- Banner main section exit -->


    <!-- Category card section -->
    <section class="Category mx-auto">
        <h2 class="text-center category-title">Our Product Categories</h2>
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-3">
                    <a href="/Product">
                        <div class="card">
                            <div class="card-body text-center">Fruits</div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-3 col-md-3">
                    <a href="/Product">
                        <div class=" card">
                            <div class="card-body text-center">Vegetables</div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-3 col-md-3">
                    <a href="/Product">
                        <div class=" card">
                            <div class="card-body text-center">Meat</div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-3 col-md-3">
                    <a href="/Product">
                        <div class=" card">
                            <div class="card-body text-center">Fish</div>
                        </div>
                    </a>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-3 col-md-3">
                    <a href="/Product">
                        <div class=" card">
                            <div class="card-body text-center">Baking</div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-3 col-md-3">
                    <a href="/Product">
                        <div class=" card">
                            <div class="card-body text-center">Diary</div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-3 col-md-3">
                    <a href="/Product">
                        <div class=" card">
                            <div class="card-body text-center">Spices</div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-3 col-md-3">
                    <a href="/Product">
                        <div class=" card">
                            <div class="card-body text-center">Dryfood</div>
                        </div>
                    </a>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-3 col-md-3">
                    <a href="/Product">
                        <div class=" card">
                            <div class="card-body text-center">Cosmetics</div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-3 col-md-3">
                    <a href="/Product">
                        <div class=" card">
                            <div class="card-body text-center">Accessories</div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-3 col-md-3">
                </div>
                <div class="col-lg-3 col-md-3">
                </div>
            </div>
        </div>
    </section>
    <!-- Category card section exit -->

    <!-- how to order section -->
    <section class="order-banner mx-auto">
        <h2 class="text-center category-title">How To Order</h2>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <img src="/Images/How-To-Order-removebg-preview.png" alt="banner" class="img-fluid">
                </div>
            </div>
        </div>
    </section>
    <!-- how to oreder exit -->

    <!--Feature Product section -->
    <section id="main-content" class="wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-2 order-md-1 order-lg-1 l-sideban">
                    <div class="text-center">
                        <h3 class="side-bantitle">Sales Offer</h3>
                    </div>
                    <div class="text-center">
                        <img src="/Images/side banner.png">
                    </div>
                    <div class="text-center mt-2">
                        <p class="side-banpera">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt
                            obcaecati quia nihil, velit porro asperiores cum quis dolorem voluptate excepturi, illum
                            odio quibusdam voluptas ab fugiat doloremque, inventore sapiente! Assumenda.</p>
                    </div>
                    <div class="text-center">
                        <button class="learn-more-btn learn-more-btn-dummy">
                            <a href="">Shop Now</a>
                        </button>
                    </div>
                </div>

                <div class="col-lg-8 order-md-3 order-lg-2 ftp-section">
                    <div class="row">
                        <h3 class="text-center mid-ftp-title">Feature Products</h3>
                        <div class="col-lg-4 col-md-4">
                            <div class="card bg-light border-0 shadow">
                                <div class="card-body">
                                    <div class="text-center">
                                        <img src="/Images/f1.png">
                                    </div>
                                    <div class="text-center">
                                        <h4 class="ftp-title">Organic Vegetables</h4>
                                    </div>

                                    <div class="text-center">
                                        <p class="ftp-ammount">৳ 120</p>
                                    </div>

                                    <div class="rating-star ftp-rating text-center">
                                        <span class="bi bi-star-fill"></span>
                                        <span class="bi bi-star-fill"></span>
                                        <span class="bi bi-star-fill"></span>
                                        <span class="bi bi-star-fill"></span>
                                        <span class="bi bi-star-fill"></span>
                                    </div>

                                    <div class="text-center">
                                        <button class="learn-more-btn learn-more-btn-dummy">
                                            <a href="">Add To Cart <i class="bi bi-cart"></i></a>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-4">
                            <div class="card bg-light border-0 shadow">
                                <div class="card-body">
                                    <div class="text-center">
                                        <img src="/Images/f2.png">
                                    </div>
                                    <div class="text-center">
                                        <h4 class="ftp-title">Cleanign Supplies</h4>
                                    </div>

                                    <div class="text-center">
                                        <p class="ftp-ammount">৳ 120</p>
                                    </div>

                                    <div class="rating-star ftp-rating text-center">
                                        <span class="bi bi-star-fill"></span>
                                        <span class="bi bi-star-fill"></span>
                                        <span class="bi bi-star-fill"></span>
                                        <span class="bi bi-star-fill"></span>
                                        <span class="bi bi-star-fill"></span>
                                    </div>

                                    <div class="text-center">
                                        <button class="learn-more-btn learn-more-btn-dummy">
                                            <a href="">Add To Cart <i class="bi bi-cart"></i></a>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-4">
                            <div class="card card bg-light border-0 shadow">
                                <div class="card-body">
                                    <div class="text-center">
                                        <img src="/Images/f3.png">
                                    </div>
                                    <div class="text-center">
                                        <h4 class="ftp-title">Organic Fruits</h4>
                                    </div>

                                    <div class="text-center">
                                        <p class="ftp-ammount">৳ 120</p>
                                    </div>

                                    <div class="rating-star ftp-rating text-center">
                                        <span class="bi bi-star-fill"></span>
                                        <span class="bi bi-star-fill"></span>
                                        <span class="bi bi-star-fill"></span>
                                        <span class="bi bi-star-fill"></span>
                                        <span class="bi bi-star-fill"></span>
                                    </div>

                                    <div class="text-center">
                                        <button class="learn-more-btn learn-more-btn-dummy">
                                            <a href="">Add To Cart <i class="bi bi-cart"></i></a>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="col-lg-2 order-md-2 order-lg-3 r-sideban">
                    <div class="text-center">
                        <h3 class="another-sidban">
                            Stay Home
                        </h3>
                    </div>
                    <div class="text-center">
                        <img src="/Images/delivary man.jpg">
                    </div>
                    <div class="text-center mt-2">
                        <p class="side-banpera">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt
                            obcaecati quia nihil, velit porro asperiores cum quis dolorem voluptate excepturi, illum
                            odio quibusdam voluptas ab fugiat doloremque, inventore sapiente! Assumenda.</p>
                    </div>
                </div>
            </div>
              </div>
    </section>
    <!-- Feature Product section exit -->


    <!--Recent Product section -->
    <section class="category-product">
        <div class="container">
            <h2 class="text-center category-title">Recent Products</h2>
            <div class="row mt-4">
                <div class="col-lg-3 col-md-6">
                    <div class="card border-0 shadow-sm">
                        <div class="card-body m-3">
                            <a href="/product_detail" target="_self">
                                <img src="/Images/vacuum_cleaner_PNG51-removebg-preview.png" alt="">
                            </a>
                            <div class="product-name pt-3">
                                <h3 class="text-capitalize product-title">Vacuum Cleaner</h3>
                                <p class="mb-0 amount">৳ 120</p>
                                <div class="rating-star py-1 mb-2">
                                    <span class="bi bi-star-fill"></span>
                                    <span class="bi bi-star-fill"></span>
                                    <span class="bi bi-star-fill"></span>
                                    <span class="bi bi-star-fill"></span>
                                    <span class="bi bi-star-half"></span>
                                </div>
                                <a href="#" class="learn-more-btn btn-header">Add To Cart <i class="bi bi-cart"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6">
                    <div class="card border-0 shadow-sm">
                        <div class="card-body m-3">
                            <a href="/product_detail" target="_self">
                                <img src="/Images/vacuum_cleaner_PNG51-removebg-preview.png" alt="">
                            </a>
                            <div class="product-name pt-3">
                                <h3 class="text-capitalize product-title">Vacuum Cleaner</h3>
                                <p class="mb-0 amount">৳ 120</p>
                                <div class="rating-star py-1 mb-2">
                                    <span class="bi bi-star-fill"></span>
                                    <span class="bi bi-star-fill"></span>
                                    <span class="bi bi-star-fill"></span>
                                    <span class="bi bi-star-fill"></span>
                                    <span class="bi bi-star-half"></span>
                                </div>
                                <a href="#" class="learn-more-btn btn-header">Add To Cart <i class="bi bi-cart"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6">
                    <div class="card border-0 shadow-sm">
                        <div class="card-body m-3">
                            <a href="/product_detail" target="_self">
                                <img src="/Images/vacuum_cleaner_PNG51-removebg-preview.png" alt="">
                            </a>
                            <div class="product-name pt-3">
                                <h3 class="text-capitalize product-title">Vacuum Cleaner</h3>
                                <p class="mb-0 amount">৳ 120</p>
                                <div class="rating-star py-1 mb-2">
                                    <span class="bi bi-star-fill"></span>
                                    <span class="bi bi-star-fill"></span>
                                    <span class="bi bi-star-fill"></span>
                                    <span class="bi bi-star-fill"></span>
                                    <span class="bi bi-star-half"></span>
                                </div>
                                <a href="#" class="learn-more-btn btn-header">Add To Cart <i class="bi bi-cart"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6">
                    <div class="card border-0 shadow-sm">
                        <div class="card-body m-3">
                            <a href="/product_detail" target="_self">
                                <img src="/Images/vacuum_cleaner_PNG51-removebg-preview.png" alt="">
                            </a>
                            <div class="product-name pt-3">
                                <h3 class="text-capitalize product-title">Vacuum Cleaner</h3>
                                <p class="mb-0 amount">৳ 120</p>
                                <div class="rating-star py-1 mb-2">
                                    <span class="bi bi-star-fill"></span>
                                    <span class="bi bi-star-fill"></span>
                                    <span class="bi bi-star-fill"></span>
                                    <span class="bi bi-star-fill"></span>
                                    <span class="bi bi-star-half"></span>
                                </div>
                                <a href="#" class="learn-more-btn btn-header">Add To Cart <i class="bi bi-cart"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Recent Product section exit -->


    <!--Most Sell Product section -->
    <section class="category-product">
        <div class="container">
            <h2 class="text-center category-title">Most Sell Products</h2>
            <div class="row mt-4">
                <div class="col-lg-3 col-md-6">
                    <div class="card border-0 shadow-sm">
                        <div class="card-body m-3">
                            <a href="/product_detail" target="_self">
                                <img src="/Images/vacuum_cleaner_PNG51-removebg-preview.png" alt="">
                            </a>
                            <div class="product-name pt-3">
                                <h3 class="text-capitalize product-title">Vacuum Cleaner</h3>
                                <p class="mb-0 amount">৳ 120</p>
                                <div class="rating-star py-1 mb-2">
                                    <span class="bi bi-star-fill"></span>
                                    <span class="bi bi-star-fill"></span>
                                    <span class="bi bi-star-fill"></span>
                                    <span class="bi bi-star-fill"></span>
                                    <span class="bi bi-star-half"></span>
                                </div>
                                <a href="#" class="learn-more-btn btn-header">Add To Cart <i class="bi bi-cart"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6">
                    <div class="card border-0 shadow-sm">
                        <div class="card-body m-3">
                            <a href="/product_detail" target="_self">
                                <img src="/Images/vacuum_cleaner_PNG51-removebg-preview.png" alt="">
                            </a>
                            <div class="product-name pt-3">
                                <h3 class="text-capitalize product-title">Vacuum Cleaner</h3>
                                <p class="mb-0 amount">৳ 120</p>
                                <div class="rating-star py-1 mb-2">
                                    <span class="bi bi-star-fill"></span>
                                    <span class="bi bi-star-fill"></span>
                                    <span class="bi bi-star-fill"></span>
                                    <span class="bi bi-star-fill"></span>
                                    <span class="bi bi-star-half"></span>
                                </div>
                                <a href="#" class="learn-more-btn btn-header">Add To Cart <i class="bi bi-cart"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6">
                    <div class="card border-0 shadow-sm">
                        <div class="card-body m-3">
                            <a href="/product_detail" target="_self">
                                <img src="/Images/vacuum_cleaner_PNG51-removebg-preview.png" alt="">
                            </a>
                            <div class="product-name pt-3">
                                <h3 class="text-capitalize product-title">Vacuum Cleaner</h3>
                                <p class="mb-0 amount">৳ 120</p>
                                <div class="rating-star py-1 mb-2">
                                    <span class="bi bi-star-fill"></span>
                                    <span class="bi bi-star-fill"></span>
                                    <span class="bi bi-star-fill"></span>
                                    <span class="bi bi-star-fill"></span>
                                    <span class="bi bi-star-half"></span>
                                </div>
                                <a href="#" class="learn-more-btn btn-header">Add To Cart <i class="bi bi-cart"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6">
                    <div class="card border-0 shadow-sm">
                        <div class="card-body m-3">
                            <a href="/product_detail" target="_self">
                                <img src="/Images/vacuum_cleaner_PNG51-removebg-preview.png" alt="">
                            </a>
                            <div class="product-name pt-3">
                                <h3 class="text-capitalize product-title">Vacuum Cleaner</h3>
                                <p class="mb-0 amount">৳ 120</p>
                                <div class="rating-star py-1 mb-2">
                                    <span class="bi bi-star-fill"></span>
                                    <span class="bi bi-star-fill"></span>
                                    <span class="bi bi-star-fill"></span>
                                    <span class="bi bi-star-fill"></span>
                                    <span class="bi bi-star-half"></span>
                                </div>
                                <a href="#" class="learn-more-btn btn-header">Add To Cart <i class="bi bi-cart"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Most Sell Product section exit -->

    <!--Slider section-->
    <section id="clients">
        <div class="clients">
            <div class="container">
                <h2 class="text-center category-title">Sales Offer</h2>
                <div class="row">
                    <div class="col-12">
                        <div class="owl-carousel client-slider-section">
                            <div class="item">
                                <div class="card border-0 shadow-sm">
                                    <div class="card-body m-3">
                                        <a href="/product_detail" target="_self">
                                            <img src="/Images/vacuum_cleaner_PNG51-removebg-preview.png" alt="">
                                        </a>
                                        <div class="product-name pt-3">
                                            <h3 class="text-capitalize product-title">Vacuum Cleaner</h3>
                                            <p class="mb-0 amount"> <del>৳ 220</del> ৳ 120</p>
                                            <div class="rating-star py-1 mb-2">
                                                <span class="bi bi-star-fill"></span>
                                                <span class="bi bi-star-fill"></span>
                                                <span class="bi bi-star-fill"></span>
                                                <span class="bi bi-star-fill"></span>
                                                <span class="bi bi-star-half"></span>
                                            </div>
                                            <a href="#" class="learn-more-btn btn-header">Add To Cart <i
                                                    class="bi bi-cart"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="card border-0 shadow-sm">
                                    <div class="card-body m-3">
                                        <a href="/product_detail" target="_self">
                                            <img src="/Images/vacuum_cleaner_PNG51-removebg-preview.png" alt="">
                                        </a>
                                        <div class="product-name pt-3">
                                            <h3 class="text-capitalize product-title">Vacuum Cleaner</h3>
                                            <p class="mb-0 amount">৳ 120</p>
                                            <div class="rating-star py-1 mb-2">
                                                <span class="bi bi-star-fill"></span>
                                                <span class="bi bi-star-fill"></span>
                                                <span class="bi bi-star-fill"></span>
                                                <span class="bi bi-star-fill"></span>
                                                <span class="bi bi-star-half"></span>
                                            </div>
                                            <a href="#" class="learn-more-btn btn-header">Add To Cart <i
                                                    class="bi bi-cart"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="card border-0 shadow-sm">
                                    <div class="card-body m-3">
                                        <a href="/product_detail" target="_self">
                                            <img src="/Images/vacuum_cleaner_PNG51-removebg-preview.png" alt="">
                                        </a>
                                        <div class="product-name pt-3">
                                            <h3 class="text-capitalize product-title">Vacuum Cleaner</h3>
                                            <p class="mb-0 amount"><del>৳ 220</del> ৳ 120</p>
                                            <div class="rating-star py-1 mb-2">
                                                <span class="bi bi-star-fill"></span>
                                                <span class="bi bi-star-fill"></span>
                                                <span class="bi bi-star-fill"></span>
                                                <span class="bi bi-star-fill"></span>
                                                <span class="bi bi-star-half"></span>
                                            </div>
                                            <a href="#" class="learn-more-btn btn-header">Add To Cart <i
                                                    class="bi bi-cart"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="card border-0 shadow-sm">
                                    <div class="card-body m-3">
                                        <a href="/product_detail" target="_self">
                                            <img src="/Images/vacuum_cleaner_PNG51-removebg-preview.png" alt="">
                                        </a>
                                        <div class="product-name pt-3">
                                            <h3 class="text-capitalize product-title">Vacuum Cleaner</h3>
                                            <p class="mb-0 amount">৳ 120</p>
                                            <div class="rating-star py-1 mb-2">
                                                <span class="bi bi-star-fill"></span>
                                                <span class="bi bi-star-fill"></span>
                                                <span class="bi bi-star-fill"></span>
                                                <span class="bi bi-star-fill"></span>
                                                <span class="bi bi-star-half"></span>
                                            </div>
                                            <a href="#" class="learn-more-btn btn-header">Add To Cart <i
                                                    class="bi bi-cart"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="card border-0 shadow-sm">
                                    <div class="card-body m-3">
                                        <a href="/product_detail" target="_self">
                                            <img src="/Images/vacuum_cleaner_PNG51-removebg-preview.png" alt="">
                                        </a>
                                        <div class="product-name pt-3">
                                            <h3 class="text-capitalize product-title">Vacuum Cleaner</h3>
                                            <p class="mb-0 amount"><del>৳ 220</del> ৳ 120</p>
                                            <div class="rating-star py-1 mb-2">
                                                <span class="bi bi-star-fill"></span>
                                                <span class="bi bi-star-fill"></span>
                                                <span class="bi bi-star-fill"></span>
                                                <span class="bi bi-star-fill"></span>
                                                <span class="bi bi-star-half"></span>
                                            </div>
                                            <a href="#" class="learn-more-btn btn-header">Add To Cart <i
                                                    class="bi bi-cart"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="card border-0 shadow-sm">
                                    <div class="card-body m-3">
                                        <a href="/product_detail" target="_self">
                                            <img src="/Images/vacuum_cleaner_PNG51-removebg-preview.png" alt="">
                                        </a>
                                        <div class="product-name pt-3">
                                            <h3 class="text-capitalize product-title">Vacuum Cleaner</h3>
                                            <p class="mb-0 amount">৳ 120</p>
                                            <div class="rating-star py-1 mb-2">
                                                <span class="bi bi-star-fill"></span>
                                                <span class="bi bi-star-fill"></span>
                                                <span class="bi bi-star-fill"></span>
                                                <span class="bi bi-star-fill"></span>
                                                <span class="bi bi-star-half"></span>
                                            </div>
                                            <a href="#" class="learn-more-btn btn-header">Add To Cart <i
                                                    class="bi bi-cart"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="card border-0 shadow-sm">
                                    <div class="card-body m-3">
                                        <a href="/product_detail" target="_self">
                                            <img src="/Images/vacuum_cleaner_PNG51-removebg-preview.png" alt="">
                                        </a>
                                        <div class="product-name pt-3">
                                            <h3 class="text-capitalize product-title">Vacuum Cleaner</h3>
                                            <p class="mb-0 amount">৳ 120</p>
                                            <div class="rating-star py-1 mb-2">
                                                <span class="bi bi-star-fill"></span>
                                                <span class="bi bi-star-fill"></span>
                                                <span class="bi bi-star-fill"></span>
                                                <span class="bi bi-star-fill"></span>
                                                <span class="bi bi-star-half"></span>
                                            </div>
                                            <a href="#" class="learn-more-btn btn-header">Add To Cart <i
                                                    class="bi bi-cart"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="card border-0 shadow-sm">
                                    <div class="card-body m-3">
                                        <a href="/product_detail" target="_self">
                                            <img src="/Images/vacuum_cleaner_PNG51-removebg-preview.png" alt="">
                                        </a>
                                        <div class="product-name pt-3">
                                            <h3 class="text-capitalize product-title">Vacuum Cleaner</h3>
                                            <p class="mb-0 amount">৳ 120</p>
                                            <div class="rating-star py-1 mb-2">
                                                <span class="bi bi-star-fill"></span>
                                                <span class="bi bi-star-fill"></span>
                                                <span class="bi bi-star-fill"></span>
                                                <span class="bi bi-star-fill"></span>
                                                <span class="bi bi-star-half"></span>
                                            </div>
                                            <a href="#" class="learn-more-btn btn-header">Add To Cart <i
                                                    class="bi bi-cart"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="card border-0 shadow-sm">
                                    <div class="card-body m-3">
                                        <a href="/product_detail" target="_self">
                                            <img src="/Images/vacuum_cleaner_PNG51-removebg-preview.png" alt="">
                                        </a>
                                        <div class="product-name pt-3">
                                            <h3 class="text-capitalize product-title">Vacuum Cleaner</h3>
                                            <p class="mb-0 amount">৳ 120</p>
                                            <div class="rating-star py-1 mb-2">
                                                <span class="bi bi-star-fill"></span>
                                                <span class="bi bi-star-fill"></span>
                                                <span class="bi bi-star-fill"></span>
                                                <span class="bi bi-star-fill"></span>
                                                <span class="bi bi-star-half"></span>
                                            </div>
                                            <a href="#" class="learn-more-btn btn-header">Add To Cart <i
                                                    class="bi bi-cart"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--Slider section exit-->

    <!--About banner section -->
    <section class="About-banner">
        <div class="container">
            <h2 class="text-center category-title mb-5">Why People <i class="bi bi-heart-fill"></i> Us</h2>
            <div class="row">
                <div class="col-lg-4 col-md-4">
                    <h1 class="category-title text-center mb-3">Convenient & Quick</h1>
                    <p class="text-center">No waiting in traffic, no haggling, no worries carrying groceries, they're
                        delivered right at
                        your door.</p>
                </div>

                <div class="col-lg-4 col-md-4">
                    <h1 class="category-title text-center mb-3">Freshly Picked</h1>
                    <p class="text-center">Our fresh produce is sourced every morning, you get the best from us.</p>
                </div>

                <div class="col-lg-4 col-md-4">
                    <h1 class="category-title text-center mb-3">Wide inventory</h1>
                    <p class="text-center">With 4000+ Products to choose from, forget scouring those aisles for hours.
                    </p>
                </div>
            </div>
        </div>
    </section>
    <!--About banner section exit-->

    <!-- Review section-->
    <section id="testimonials">
        <div class="container">
            <h2 class="text-center category-title">What Client Says</h2>
            <div class="row">
                <div class="col-md-8 col-center m-auto">
                    <div id="myCarousel" class="carousel slide" data-ride="carousel">
                        <!-- Carousel -->
                        <div class="carousel-inner">
                            <div class="item carousel-item active">
                                <div class="img-box"><img src="/Images/user.png" alt=""></div>
                                <p class="testimonial">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam eu
                                    sem
                                    tempor, varius quam at, luctus dui. Mauris magna metus, dapibus nec turpis vel,
                                    semper
                                    malesuada ante. Idac bibendum scelerisque non non purus. Suspendisse varius nibh non
                                    aliquet.</p>
                                <p class="overview"><b>Jennifer Smith</b></p>
                            </div>
                            <div class="item carousel-item">
                                <div class="img-box"><img src="/Images/user1.jpg" alt=""></div>
                                <p class="testimonial">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam eu
                                    sem
                                    tempor, varius quam at, luctus dui. Mauris magna metus, dapibus nec turpis vel,
                                    semper
                                    malesuada ante. Idac bibendum scelerisque non non purus. Suspendisse varius nibh non
                                    aliquet.</p>
                                <p class="overview"><b>Dauglas McNun</b></p>
                            </div>
                            <div class="item carousel-item">
                                <div class="img-box"><img src="/Images/user2.jpg" alt=""></div>
                                <p class="testimonial">Phasellus vitae suscipit justo. Mauris pharetra feugiat ante id
                                    lacinia.
                                    Etiam faucibus mauris id tempor egestas. Duis luctus turpis at accumsan tincidunt.
                                    Phasellus
                                    risus risus, volutpat vel tellus ac, tincidunt fringilla massa. Etiam hendrerit
                                    dolor eget
                                    rutrum.</p>
                                <p class="overview"><b>Hellen Wright</b></p>
                            </div>

                            <div class="item carousel-item">
                                <div class="img-box"><img src="/Images/user4.png" alt=""></div>
                                <p class="testimonial">Phasellus vitae suscipit justo. Mauris pharetra feugiat ante id
                                    lacinia.
                                    Etiam faucibus mauris id tempor egestas. Duis luctus turpis at accumsan tincidunt.
                                    Phasellus
                                    risus risus, volutpat vel tellus ac, tincidunt fringilla massa. Etiam hendrerit
                                    dolor eget
                                    rutrum.</p>
                                <p class="overview"><b>Sivastin Dicosta</b></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Review section exit -->
    </article>