@page "/Order_history"
<section class="order-history ">
        <div class="container">
            <h1 class="order-title text-center text-dark mb-5">Order History</h1>
            <div class="row">
                <div class="col-lg-12 mx-auto">
                    <div class="cart-container mb-3">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class="order-table-header">
                                    <tr>
                                        <th class="order-head-details">Product</th>
                                        <th class="order-head-details">Name</th>
                                        <th class="order-head-details">Price</th>
                                        <th class="order-head-details">Quantity</th>
                                        <th class="order-head-details">Total</th>
                                        <th class="order-head-details">Time</th>
                                         <th class="order-head-details"></th>
                                    </tr>
                                </thead>
                                <tbody class="order-table-body">
                                    <tr>
                                        <td>
                                            <div class="text-center order-item">
                                                <img src="/Images/f3.png">
                                            </div>
                                        </td>

                                        <td>
                                            <div class="order-name">
                                                Black Berry
                                            </div>
                                        </td>
                                        <td>
                                            <div class="order-price">
                                                ৳ 680
                                            </div>
                                        </td>
                                        <td>
                                            <div class="order-quantity">
                                                1
                                            </div>
                                        </td>
                                        <td>
                                                <div class="order-totalp">
                                                    ৳ 680  
                                            </div>
                                        </td>

                                         <td>
                                                  <div class="order-titme">                                        
                                                  12:15 pm
                                                </div>  
                                                
                                        </td>
                                          <td> 
                                                <div class="order-refundbtn"><a class="btn btn-success" href="#">Refund</a></div>
                                        </td>

                                    </tr>
                                      <tr>
                                        <td>
                                            <div class="text-center order-item">
                                                <img src="/Images/f3.png">
                                            </div>
                                        </td>

                                        <td>
                                            <div class="order-name">
                                                Black Berry
                                            </div>
                                        </td>
                                        <td>
                                            <div class="order-price">
                                                ৳ 680
                                            </div>
                                        </td>
                                        <td>
                                            <div class="order-quantity">
                                                1
                                            </div>
                                        </td>
                                        <td>
                                                <div class="order-totalp">
                                                    ৳ 680  
                                            </div>
                                        </td>

                                         <td>
                                                  <div class="order-titme">                                        
                                                  12:15 pm
                                                </div>  
                                                
                                        </td>
                                          <td> 
                                                <div class="order-refundbtn"><a class="btn btn-success" href="#">Refund</a></div>
                                        </td>

                                    </tr>
                                      <tr>
                                        <td>
                                            <div class="text-center order-item">
                                                <img src="/Images/f3.png">
                                            </div>
                                        </td>

                                        <td>
                                            <div class="order-name">
                                                Black Berry
                                            </div>
                                        </td>
                                        <td>
                                            <div class="order-price">
                                                ৳ 680
                                            </div>
                                        </td>
                                        <td>
                                            <div class="order-quantity">
                                                1
                                            </div>
                                        </td>
                                        <td>
                                                <div class="order-totalp">
                                                    ৳ 680  
                                            </div>
                                        </td>

                                         <td>
                                                  <div class="order-titme">                                        
                                                  12:15 pm
                                                </div>  
                                                
                                        </td>
                                          <td> 
                                                <div class="order-refundbtn"><a class="btn btn-success" href="#">Refund</a></div>
                                        </td>

                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
   

@code {

}
