@page "/Product"
 <section class="category-product">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="card border-0 shadow-sm">
                        <div class="card-body m-3">
                            <a href="/product_detail" target="_self">
                                <img src="/Images/vacuum_cleaner_PNG51-removebg-preview.png" alt="">
                            </a>
                            <div class="product-name pt-3">
                                <h3 class="text-capitalize product-title">Vacuum Cleaner</h3>
                                <p class="mb-0 amount">৳ 120</p>
                                <div class="rating-star py-1 mb-2">
                                    <span class="bi bi-star-fill"></span>
                                    <span class="bi bi-star-fill"></span>
                                    <span class="bi bi-star-fill"></span>
                                    <span class="bi bi-star-fill"></span>
                                    <span class="bi bi-star-half"></span>
                                </div>
                                <a href="#" class="learn-more-btn btn-header">Add To Cart <i class="bi bi-cart"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6">
                    <div class="card border-0 shadow-sm">
                        <div class="card-body m-3">
                            <a href="/product_detail" target="_self">
                                <img src="/Images/vacuum_cleaner_PNG51-removebg-preview.png" alt="">
                            </a>
                            <div class="product-name pt-3">
                                <h3 class="text-capitalize product-title">Vacuum Cleaner</h3>
                                <p class="mb-0 amount">৳ 120</p>
                                <div class="rating-star py-1 mb-2">
                                    <span class="bi bi-star-fill"></span>
                                    <span class="bi bi-star-fill"></span>
                                    <span class="bi bi-star-fill"></span>
                                    <span class="bi bi-star-fill"></span>
                                    <span class="bi bi-star-half"></span>
                                </div>
                                <a href="#" class="learn-more-btn btn-header">Add To Cart <i class="bi bi-cart"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6">
                    <div class="card border-0 shadow-sm">
                        <div class="card-body m-3">
                            <a href="/product_detail" target="_self">
                                <img src="/Images/vacuum_cleaner_PNG51-removebg-preview.png" alt="">
                            </a>
                            <div class="product-name pt-3">
                                <h3 class="text-capitalize product-title">Vacuum Cleaner</h3>
                                <p class="mb-0 amount">৳ 120</p>
                                <div class="rating-star py-1 mb-2">
                                    <span class="bi bi-star-fill"></span>
                                    <span class="bi bi-star-fill"></span>
                                    <span class="bi bi-star-fill"></span>
                                    <span class="bi bi-star-fill"></span>
                                    <span class="bi bi-star-half"></span>
                                </div>
                                <a href="#" class="learn-more-btn btn-header">Add To Cart <i class="bi bi-cart"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 ">
                    <div class="card border-0 shadow-sm">
                        <div class="card-body m-3">
                            <a href="/product_detail" target="_self">
                                <img src="/Images/vacuum_cleaner_PNG51-removebg-preview.png" alt="">
                            </a>
                            <div class="product-name pt-3">
                                <h3 class="text-capitalize product-title">Vacuum Cleaner</h3>
                                <p class="mb-0 amount">৳ 120</p>
                                <div class="rating-star py-1 mb-2">
                                    <span class="bi bi-star-fill"></span>
                                    <span class="bi bi-star-fill"></span>
                                    <span class="bi bi-star-fill"></span>
                                    <span class="bi bi-star-fill"></span>
                                    <span class="bi bi-star-half"></span>
                                </div>
                                <a href="#" class="learn-more-btn btn-header">Add To Cart <i class="bi bi-cart"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="category-product">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="card border-0 shadow-sm">
                        <div class="card-body m-3">
                            <a href="/product_detail" target="_self">
                                <img src="/Images/vacuum_cleaner_PNG51-removebg-preview.png" alt="">
                            </a>
                            <div class="product-name pt-3">
                                <h3 class="text-capitalize product-title">Vacuum Cleaner</h3>
                                <p class="mb-0 amount">৳ 120</p>
                                <div class="rating-star py-1 mb-2">
                                    <span class="bi bi-star-fill"></span>
                                    <span class="bi bi-star-fill"></span>
                                    <span class="bi bi-star-fill"></span>
                                    <span class="bi bi-star-fill"></span>
                                    <span class="bi bi-star-half"></span>
                                </div>
                                <a href="#" class="learn-more-btn btn-header">Add To Cart <i class="bi bi-cart"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6">
                    <div class="card border-0 shadow-sm">
                        <div class="card-body m-3">
                            <a href="/product_detail" target="_self">
                                <img src="/Images/vacuum_cleaner_PNG51-removebg-preview.png" alt="">
                            </a>
                            <div class="product-name pt-3">
                                <h3 class="text-capitalize product-title">Vacuum Cleaner</h3>
                                <p class="mb-0 amount">৳ 120</p>
                                <div class="rating-star py-1 mb-2">
                                    <span class="bi bi-star-fill"></span>
                                    <span class="bi bi-star-fill"></span>
                                    <span class="bi bi-star-fill"></span>
                                    <span class="bi bi-star-fill"></span>
                                    <span class="bi bi-star-half"></span>
                                </div>
                                <a href="#" class="learn-more-btn btn-header">Add To Cart <i class="bi bi-cart"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6">
                    <div class="card border-0 shadow-sm">
                        <div class="card-body m-3">
                            <a href="/product_detail" target="_self">
                                <img src="/Images/vacuum_cleaner_PNG51-removebg-preview.png" alt="">
                            </a>
                            <div class="product-name pt-3">
                                <h3 class="text-capitalize product-title">Vacuum Cleaner</h3>
                                <p class="mb-0 amount">৳ 120</p>
                                <div class="rating-star py-1 mb-2">
                                    <span class="bi bi-star-fill"></span>
                                    <span class="bi bi-star-fill"></span>
                                    <span class="bi bi-star-fill"></span>
                                    <span class="bi bi-star-fill"></span>
                                    <span class="bi bi-star-half"></span>
                                </div>
                                <a href="#" class="learn-more-btn btn-header">Add To Cart <i class="bi bi-cart"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 ">
                    <div class="card border-0 shadow-sm">
                        <div class="card-body m-3">
                            <a href="/product_detail" target="_self">
                                <img src="/Images/vacuum_cleaner_PNG51-removebg-preview.png" alt="">
                            </a>
                            <div class="product-name pt-3">
                                <h3 class="text-capitalize product-title">Vacuum Cleaner</h3>
                                <p class="mb-0 amount">৳ 120</p>
                                <div class="rating-star py-1 mb-2">
                                    <span class="bi bi-star-fill"></span>
                                    <span class="bi bi-star-fill"></span>
                                    <span class="bi bi-star-fill"></span>
                                    <span class="bi bi-star-fill"></span>
                                    <span class="bi bi-star-half"></span>
                                </div>
                                <a href="#" class="learn-more-btn btn-header">Add To Cart <i class="bi bi-cart"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="category-product">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="card border-0 shadow-sm">
                        <div class="card-body m-3">
                            <a href="/product_detail" target="_self">
                                <img src="/Images/vacuum_cleaner_PNG51-removebg-preview.png" alt="">
                            </a>
                            <div class="product-name pt-3">
                                <h3 class="text-capitalize product-title">Vacuum Cleaner</h3>
                                <p class="mb-0 amount">৳ 120</p>
                                <div class="rating-star py-1 mb-2">
                                    <span class="bi bi-star-fill"></span>
                                    <span class="bi bi-star-fill"></span>
                                    <span class="bi bi-star-fill"></span>
                                    <span class="bi bi-star-fill"></span>
                                    <span class="bi bi-star-half"></span>
                                </div>
                                <a href="#" class="learn-more-btn btn-header">Add To Cart <i class="bi bi-cart"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6">
                    <div class="card border-0 shadow-sm">
                        <div class="card-body m-3">
                            <a href="/product_detail" target="_self">
                                <img src="/Images/vacuum_cleaner_PNG51-removebg-preview.png" alt="">
                            </a>
                            <div class="product-name pt-3">
                                <h3 class="text-capitalize product-title">Vacuum Cleaner</h3>
                                <p class="mb-0 amount">৳ 120</p>
                                <div class="rating-star py-1 mb-2">
                                    <span class="bi bi-star-fill"></span>
                                    <span class="bi bi-star-fill"></span>
                                    <span class="bi bi-star-fill"></span>
                                    <span class="bi bi-star-fill"></span>
                                    <span class="bi bi-star-half"></span>
                                </div>
                                <a href="#" class="learn-more-btn btn-header">Add To Cart <i class="bi bi-cart"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6">
                    <div class="card border-0 shadow-sm">
                        <div class="card-body m-3">
                            <a href="/product_detail" target="_self">
                                <img src="/Images/vacuum_cleaner_PNG51-removebg-preview.png" alt="">
                            </a>
                            <div class="product-name pt-3">
                                <h3 class="text-capitalize product-title">Vacuum Cleaner</h3>
                                <p class="mb-0 amount">৳ 120</p>
                                <div class="rating-star py-1 mb-2">
                                    <span class="bi bi-star-fill"></span>
                                    <span class="bi bi-star-fill"></span>
                                    <span class="bi bi-star-fill"></span>
                                    <span class="bi bi-star-fill"></span>
                                    <span class="bi bi-star-half"></span>
                                </div>
                                <a href="#" class="learn-more-btn btn-header">Add To Cart <i class="bi bi-cart"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 ">
                    <div class="card border-0 shadow-sm">
                        <div class="card-body m-3">
                            <a href="/product_detail" target="_self">
                                <img src="/Images/vacuum_cleaner_PNG51-removebg-preview.png" alt="">
                            </a>
                            <div class="product-name pt-3">
                                <h3 class="text-capitalize product-title">Vacuum Cleaner</h3>
                                <p class="mb-0 amount">৳ 120</p>
                                <div class="rating-star py-1 mb-2">
                                    <span class="bi bi-star-fill"></span>
                                    <span class="bi bi-star-fill"></span>
                                    <span class="bi bi-star-fill"></span>
                                    <span class="bi bi-star-fill"></span>
                                    <span class="bi bi-star-half"></span>
                                </div>
                                <a href="#" class="learn-more-btn btn-header">Add To Cart <i class="bi bi-cart"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="category-product">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="card border-0 shadow-sm">
                        <div class="card-body m-3">
                            <a href="/product_detail" target="_self">
                                <img src="/Images/vacuum_cleaner_PNG51-removebg-preview.png" alt="">
                            </a>
                            <div class="product-name pt-3">
                                <h3 class="text-capitalize product-title">Vacuum Cleaner</h3>
                                <p class="mb-0 amount">৳ 120</p>
                                <div class="rating-star py-1 mb-2">
                                    <span class="bi bi-star-fill"></span>
                                    <span class="bi bi-star-fill"></span>
                                    <span class="bi bi-star-fill"></span>
                                    <span class="bi bi-star-fill"></span>
                                    <span class="bi bi-star-half"></span>
                                </div>
                                <a href="#" class="learn-more-btn btn-header">Add To Cart <i class="bi bi-cart"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6">
                    <div class="card border-0 shadow-sm">
                        <div class="card-body m-3">
                            <a href="/product_detail" target="_self">
                                <img src="/Images/vacuum_cleaner_PNG51-removebg-preview.png" alt="">
                            </a>
                            <div class="product-name pt-3">
                                <h3 class="text-capitalize product-title">Vacuum Cleaner</h3>
                                <p class="mb-0 amount">৳ 120</p>
                                <div class="rating-star py-1 mb-2">
                                    <span class="bi bi-star-fill"></span>
                                    <span class="bi bi-star-fill"></span>
                                    <span class="bi bi-star-fill"></span>
                                    <span class="bi bi-star-fill"></span>
                                    <span class="bi bi-star-half"></span>
                                </div>
                                <a href="#" class="learn-more-btn btn-header">Add To Cart <i class="bi bi-cart"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6">
                    <div class="card border-0 shadow-sm">
                        <div class="card-body m-3">
                            <a href="/product_detail" target="_self">
                                <img src="/Images/vacuum_cleaner_PNG51-removebg-preview.png" alt="">
                            </a>
                            <div class="product-name pt-3">
                                <h3 class="text-capitalize product-title">Vacuum Cleaner</h3>
                                <p class="mb-0 amount">৳ 120</p>
                                <div class="rating-star py-1 mb-2">
                                    <span class="bi bi-star-fill"></span>
                                    <span class="bi bi-star-fill"></span>
                                    <span class="bi bi-star-fill"></span>
                                    <span class="bi bi-star-fill"></span>
                                    <span class="bi bi-star-half"></span>
                                </div>
                                <a href="#" class="learn-more-btn btn-header">Add To Cart <i class="bi bi-cart"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 ">
                    <div class="card border-0 shadow-sm">
                        <div class="card-body m-3">
                            <a href="/product_detail" target="_self">
                                <img src="/Images/vacuum_cleaner_PNG51-removebg-preview.png" alt="">
                            </a>
                            <div class="product-name pt-3">
                                <h3 class="text-capitalize product-title">Vacuum Cleaner</h3>
                                <p class="mb-0 amount">৳ 120</p>
                                <div class="rating-star py-1 mb-2">
                                    <span class="bi bi-star-fill"></span>
                                    <span class="bi bi-star-fill"></span>
                                    <span class="bi bi-star-fill"></span>
                                    <span class="bi bi-star-fill"></span>
                                    <span class="bi bi-star-half"></span>
                                </div>
                                <a href="#" class="learn-more-btn btn-header">Add To Cart <i class="bi bi-cart"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
@code {

}
