@page "/product_detail"
 <section class="Product-details">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 offset-lg-1">
                     <div class="zoom" onmousemove="zoom(event)">
                        <img src="/Images/vacuum_cleaner_PNG51-removebg-preview.png">
                    </div>

                    <div class="owl-carousel pd-slider-section text-center">
                        <div class="item">
                            <img src="/Images/vacuum_cleaner_PNG51-removebg-preview.png" alt="">
                        </div>

                        <div class="item">
                            <img src="/Images/vacuum_cleaner_PNG51-removebg-preview.png" alt="">
                        </div>

                        <div class="item">
                            <img src="/Images/vacuum_cleaner_PNG51-removebg-preview.png" alt="">
                        </div>

                        <div class="item">
                            <img src="/Images/vacuum_cleaner_PNG51-removebg-preview.png" alt="">
                        </div>

                        <div class="item">
                            <img src="/Images/vacuum_cleaner_PNG51-removebg-preview.png" alt="">
                        </div>
                    </div>
                </div>




                <div class="col-lg-6 offset-lg-2">
                    <h1 class="text-center pd-heading">
                        Onix Vacuum Cleaner
                    </h1>
                    <p class="pd-pera">Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia
                        necessitatibus cum voluptatem
                        alias iste sed similique, hic reiciendis eligendi repudiandae eos inventore dicta iusto quae,
                        dignissimos nihil nesciunt deserunt quia. Lorem ipsum, dolor sit amet consectetur adipisicing
                        elit. Repellat, recusandae! Repudiandae, consectetur sint sapiente accusamus laudantium
                        necessitatibus deleniti quasi accusantium ratione vel placeat facere, eius eum inventore culpa
                        rem laboriosam?</p>
                    <div class="pd-tags d-flex">
                        <i class="bi bi-tag-fill"></i>
                        <span class="badge t1">House items</span>
                        <span class="badge t2">Onix</span>
                        <span class="badge t3">PNG51</span>
                        <span class="badge t4">Red & Black</span>
                        <span class="badge t5">Available</span>
                    </div>
                    <div class="text-center pd-details">
                        <P class="pd-p"> ৳ 4021</P>
                        <span class="pd-r">
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                        </span>
                    </div>

                    <div class="quantity input-group">
                        <button class="btn quantity__minus">
                            <span>-</span>
                        </button>
                        <input name="quantity" type="text" class="quantity__input" value="0">
                        <button class="btn quantity__plus">
                            <span>+</span>
                        </button>
                    </div>

                    <div class=" pd-buttons text-center pt-3">
                        <button class="btn btn1">
                            <a href="">Order Now</a>
                        </button>
                        <button class="btn btn2">
                            <a href="">Add To Cart <i class="bi bi-cart"></i></a>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </section>

@code {

}
